{% extends 'base.html' %}

{% block title %}{{user.username}} : Account Settings{% endblock %}

{% block body %}
    <form method="post" class="form-content">
        {% csrf_token %}
        {{ form }}
        <button type="submit" id="changePW">Save changes</button>
    </form>
    <script>
        const changePW = document.getElementById('changePW');
        changePW.addEventListener('click', function () {
            // Add your save changes logic here
            alert('Password successfully changed!');
            modal.classList.add('hidden');
        });
    </script>
{% endblock %}