{% load thumbnail %}
<div class="bg-gradient-to-br from-purple-500 to-pink-500 shadow-lg rounded-lg overflow-hidden mx-auto max-w-xl p-4 my-4">

    <!-- Article Header -->
    <header class="mb-6 text-center">
        <p class="text-sm text-white opacity-75">Published on {{ post.date|date:'F j, Y  g.i  a' }}</p>
    </header>

    <!-- Article Content -->
    <article class="prose prose-lg text-white max-w-full text-center">
        <!-- <p class="text-2xl font-semibold mb-4">{{ post.title }}</p> -->
        <p class="text-lg">{{ post.text }}</p>
        <!-- Add more content as needed -->
    </article>

    <!-- Author Info -->
    <section class="mt-8 text-center">
        <div class="flex flex-col items-center">
            <a href="{% url 'profiles:detail' post.author.username %}">
                {% thumbnail post.author.profile.image "200x200" crop="center" as im %}
                <img src="{{ im.url }}" alt="Author Avatar" class="rounded-full h-20 w-20 object-cover mb-4">
                {% endthumbnail %}
                <p class="text-gray-100"><i class="fas fa-feather-alt"></i> {{ post.author }}</p>
            </a>
            <!-- You can add more details about the author here -->
        </div>
    </section>
    {% if show_detail_link %}
        <br>
        <a class="block mx-auto text-center py-2 px-4 bg-blue-600 text-white rounded-md hover:bg-blue-700 transition duration-300 w-40" href="{% url 'feed:detail' post.id %}">Read more</a>
    {% else %}
        <span>&nbsp;</span>
    {% endif %}
</div>